<h1>Fighting Helper <sub>v3</sub></h1>

<h2>Config</h2>
<app-characters [characters]="characters"></app-characters>

<h2>Fight</h2>
<button mat-fab (click)="calculateRound()" *ngIf="!actions">Fight !</button>
<button mat-fab (click)="calculateRound()" *ngIf="actions">Next round</button>

<div *ngIf="actions">
  <h2>Round {{roundNumber}}</h2>

  <div class="actions-cards">
    <mat-card *ngFor="let action of actions" class="action-card" [ngClass]="{'action-card-pc': action.owner.isPC}">
      <mat-card-title>{{action.init | number}}</mat-card-title>

      <mat-card-content>
        {{ action.owner.name }}
      </mat-card-content>
      <mat-card-actions>
        {{action.getActionTypeText()}}
      </mat-card-actions>
    </mat-card>
  </div>

  <button mat-icon-button (click)="scrollToTop()">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>

</div>
